{% extends 'layouts/base.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/pages/curso/aluno/materials.css">
{% endblock %}

{% block content %}
  <div class="materials-container">
    <h1>Lista de Materiais: {{ course.title }}</h1>

    <ul class="materials-list">
      {% for m in materials %}
        <li class="material-item">
          <a href="/courses/{{ course.id }}/materials/{{ m.id }}" class="material-link">
            {{ m.title }}
          </a>
        </li>
      {% else %}
        <li class="material-empty">Nenhum material disponível.</li>
      {% endfor %}
    </ul>

    <p><a href="/courses/{{ course.id }}" class="back-link">← Voltar ao curso</a></p>
  </div>
{% endblock %}
