{% extends 'layouts/base.twig' %}

{% block title %}Materiais: {{ course.title }}{% endblock %}

{% block content %}
  <h1>Lista de Materiais: {{ course.title }}</h1>

  <ul>
    {% for m in materials %}
      <li style="margin-bottom:0.5em;">
        <a href="/courses/{{ course.id }}/materials/{{ m.id }}">
          {{ m.title }}
        </a>
      </li>
    {% else %}
      <li>Nenhum material disponível.</li>
    {% endfor %}
  </ul>

  <p><a href="/courses/{{ course.id }}">← Voltar ao curso</a></p>
{% endblock %}